<h1 mat-dialog-close=>Add Product</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Product</mat-label>
        <input matInput placeholder="Add Product">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
      <mat-label>Product Category</mat-label>
      <mat-select placeholder="Category">
        <mat-option value="Grapes">Grapes</mat-option>
        <mat-option value="Citrus">Citrus</mat-option>
        <mat-option value="Stone">Citrus</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose a Date</mat-label>
      <mat-select placeholder="Category">
      </mat-select>
    </mat-form-field>
</div>